<nav class="navbar bg-base-200">
  <div class="navbar-start">
    <a class="btn btn-ghost normal-case text-xl" href="/">Lego Set Collection</a>
  </div>

  <div class="navbar-center hidden lg:flex ml-auto space-x-4 justify-end">
    <!-- Home link -->
    <a class="btn btn-ghost <%= page === '/' ? 'active' : '' %>" href="/">Dashboard</a>
    
    <!-- View Collection link -->
    <a class="btn btn-ghost <%= page === '/lego/sets' ? 'active' : '' %>" href="/lego/sets">Browse Collection</a>
    
    <!-- Add to Collection link (only for logged-in users) -->
    <% if (session.user) { %>
      <a class="btn btn-ghost <%= page === '/lego/addSet' ? 'active' : '' %>" href="/lego/addSet">Add New Set</a>
      <a class="btn btn-ghost <%= page === '/userHistory' ? 'active' : '' %>" href="/userHistory">User History</a>
      <a class="btn btn-ghost" href="/logout">Logout</a>
    <% } else { %>
      <!-- Links for unauthenticated users -->
      <a class="btn btn-ghost <%= page === '/login' ? 'active' : '' %>" href="/login">Login</a>
      <a class="btn btn-ghost <%= page === '/register' ? 'active' : '' %>" href="/register">Register</a>
    <% } %>

    <!-- About link -->
    <a class="btn btn-ghost <%= page === '/about' ? 'active' : '' %>" href="/about">About Us</a>
  </div>

  <!-- Responsive navbar adjustment for mobile -->
  <div class="navbar-end lg:hidden">
    <div class="dropdown">
      <label tabindex="0" class="btn btn-ghost">
        <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
          <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16m-7 6h7" />
        </svg>
      </label>
      <ul tabindex="0" class="dropdown-content menu p-2 shadow bg-base-100 rounded-box w-52">
        <li><a href="/" class="<%= page === '/' ? 'active' : '' %>">Dashboard</a></li>
        <li><a href="/lego/sets" class="<%= page === '/lego/sets' ? 'active' : '' %>">Browse Collection</a></li>
        
        <% if (session.user) { %>
          <li><a href="/lego/addSet" class="<%= page === '/lego/addSet' ? 'active' : '' %>">Add New Set</a></li>
          <li><a href="/userHistory" class="<%= page === '/userHistory' ? 'active' : '' %>">User History</a></li>
          <li><a href="/logout">Logout</a></li>
        <% } else { %>
          <li><a href="/login" class="<%= page === '/login' ? 'active' : '' %>">Login</a></li>
          <li><a href="/register" class="<%= page === '/register' ? 'active' : '' %>">Register</a></li>
        <% } %>

        <li><a href="/about" class="<%= page === '/about' ? 'active' : '' %>">About Us</a></li>
      </ul>
    </div>
  </div>
</nav>
